strong {
	color: rgba(0,0,0,.5);
}

 .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  position: fixed;
  top: 75%; 
  left: 50%;
  margin-top: -60px;
  margin-left: -61px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 26;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* just some content with arbitrary styles for explanation purposes */
.modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 75%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #242a2f94;
    border-radius: 30px;
    text-align: center;
    display: block;
}

#question-holder{
	height: 100px;
	font-size: 35px;
	background-color: rgba(0, 0, 0, 0.04);
}

.navbar{
	width: 90%;
	margin: auto;
	margin-top: 5px;
}

.panel-primary{
	border-color:#687682a8;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0px 0px 40px 8px #b1b1b1;
}

.panel-primary>.panel-heading{
	background-color: #d48a1c85;
	border-color: #d48a1c85;
}

#submit-button{
	height: 100px;
	font-size: 35px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0));
}

#loader-div {
	display: none;
	z-index: 5;
}

.icon-nav{
	height: 16px;
    margin-right: 5px;
    margin-top: -5px;
}
.badge{
    border-radius: 0px;
    margin-left: 5px;
    margin-top: 2px;
}

.glyphicon:hover{
	color:#031f0163;
}

a:not(.navbar-brand){
	cursor: pointer;
}