/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  January 25th 2010 3:40:10 PM PST                             */
/*      Machine:  10.16.140.109                                                */
/*       Source:  Global Cache                                                 */
/*     Location:  css/4l3b0y5vm9icsks0.pkg.css h:2oaa342a                      */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/4l3b0y5vm9icsks0.pkg.css                                 */

.adboard_header{border-bottom:1px solid #ccc;padding:15px 15px 15px 20px}
.adboard_title{float:left;font-size:12pt;font-weight:bold;padding-top:6px
}
.adboard_no_ads{color:#666;font-size:13px;padding:30px 0 60px;text-align:center}
.adboard_unit_set{margin:10px 25px}
.adboard_unit{float:left;margin:10px;width:150px}
a.UIEmuFrame_x{display:block;float:right;height:13px;margin:1px 2px 0 7px;width:11px;background:transparent url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/z14M5/hash/a657viny.png) no-repeat -869px -65px;text-indent:-5000px}
a.UIEmuFrame_x:hover{background-color:#3b5998;background-position:-857px -65px;text-decoration:none}
a.UIEmuFrame_xLight{background:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/z8WRC/hash/2rqaa2im.gif) left top no-repeat;display:block;float:right;height:12px;margin:2px 0 0 8px;text-decoration:none;text-indent:-5000px;vertical-align:top;width:11px}
a.UIEmuFrame_xLight:hover{background-position:left -12px;text-decoration:none}
.UIEmuHPLikeFrame_userLikes .UIEmuHPLikeFrame_likeSpan{display:none}
.UIEmuHPLikeFrame_userLikes .UIEmuHPLikeFrame_sentence{display:none}
.UIEmuHPLikeFrame_unlikeSpan{display:none}
.UIEmuHPLikeFrame_postSentence{display:none}
.UIEmuHPLikeFrame_userLikes .UIEmuHPLikeFrame_unlikeSpan{display:inline}
.UIEmuHPLikeFrame_userLikes .UIEmuHPLikeFrame_postSentence{display:inline}
.UIEMUHPFrame_creative:hover .ad_title{text-decoration:underline}
.UIEMUHPFrame_creative .UIEMUHPFrame_titleAndFeedback:hover .ad_title{text-decoration:none}
.UIEMUHPFrame_creative .ad_title:hover{text-decoration:underline !important}
.UIEMUASSocialContext{padding-bottom:6px}
.UIEmuASIFrame{padding:10px 0 5px 10px;width:160px}
.UIEMUASFrame{padding:10px 0 10px 10px;width:147px}
.UIEMUASFrame .hidden{display:none}
.UIEMUASFrame_creative{padding-right:5px}
.UIEMUASFrame_image img{max-height:80px}
.ie6 .UIEMUASFrame_image img{height:expression((this.height > 80 ?
(this.style.height = '80px'):(this.style.height = 'auto')) && true)}
a.UIEMUASFrame_hide{display:block;float:right;line-height:12px;height:12px;width:11px;margin-left:5px;background:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/z8WRC/hash/2rqaa2im.gif) left top no-repeat}
a.UIEMUASFrame_hide:hover{background-position:left -12px;text-decoration:none}
.UIEMUASFrame_body{color:#333;overflow:hidden;padding-bottom:3px;padding-top:5px}
a.UIEMUASFrame_title{display:block;font-size:12px;font-weight:bold;overflow:hidden;padding:0 0 7px 1px}
a.UIEMUASFrame_imageAndBody:hover{text-decoration:none}
.UIEMUASFrame_creative:hover a.UIEMUASFrame_title{text-decoration:underline}
.UIEMUASFrame_titleAndFeedback:hover a.UIEMUASFrame_title{text-decoration:none}
a.UIEMUASFrame_title:hover{text-decoration:underline !important}
.UIEMUASFrame_action{padding-bottom:5px;padding-top:3px}
.UIEMUASEventFrame_dialogEventImage{float:left;padding-top:3px;width:100px}
.UIEMUASEventFrame_dialogEventDetails{float:right;padding:0 10px;width:300px}
.UIEMUASEventFrame_dialogEventName{font-size:10pt;font-weight:bold}
.UIEMUASEventFrame_dialogEventInfo{padding:7px 0 7px}
.UIEMUASFanFrame .async_saving{background:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat left
center;text-indent:-5000px;display:block}
.UIEMUASSLikeFrame .async_saving{background:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat left
center;text-indent:-5000px;display:block}
.UIEMUASSLikeFrame_userLikes .UIEMUASSLikeFrame_notLiked{display:none}
.UIEMUASSLikeFrame_liked{display:none}
.UIEMUASSLikeFrame_userLikes .UIEMUASSLikeFrame_liked{display:inline}
.UIEMUASSLikeFrame .UIEMUASSocialContext{padding-bottom:0;padding-top:2px}
.UIEMUASSLikeFrame_likeIcon .UIEMUASSocialContext{padding-bottom:0;padding-top:6px}
.UIEMUASPymkFrame_friend{background:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/z4WYI/hash/ua0bfdzs.gif) no-repeat left top;padding:2px 0 0 22px}
.UIEMUASPymkFrame_explanation{padding:2px 0 0 0;display:block;float:right}

#bootloader_css_4l3b0y5vm9icsks0_pkg_css { height: 42px; }
/*
     FILE ARCHIVED ON 00:57:11 Feb 12, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:07:08 Jul 26, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/