/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  January 26th 2010 9:23:59 AM PST                             */
/*      Machine:  10.16.139.107                                                */
/*       Source:  Local Cache                                                  */
/*     Location:  rsrc:4:33jlqqfj                                              */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/a3eabhql2ds8gcgc.pkg.css                                 */

.megaphone_story_wrapper{clear:left;overflow:hidden;margin-bottom:20px}
.megaphone_story_wrapper a img.throbber{display:none}
.megaphone_story_wrapper a.async_saving span{display:none}
.megaphone_story_wrapper a.async_saving img.throbber{display:block}
.dialog_content .megaphone_story_wrapper{margin-bottom:0}
.megaphone_story{margin:0;padding:0;position:relative;overflow:hidden}
.megaphone_story .megaphone_header{margin:10px 15px 0;padding-right:40px;font-size:13px;font-weight:bold}
.megaphone_story .megaphone_content{margin:5px 15px 10px;font-size:11px}
.megaphone_story .megaphone_hide_link{position:absolute;top:10px;right:15px;font-size:11px}
.megaphone_story_highlighted{background-color:#fcf5d0;border:1px solid #cbb631}
.megaphone_location_friends{margin:0}
.PrivacyTransitionMegaphone_HeaderImage{float:left;margin:1px 5px 0 0}
.PrivacyTransitionMegaphone_Body{margin:13px 0}
.PrivacyTransitionMegaphone_BodyText{float:left;margin-right:10px;width:350px}
.PrivacyTransitionMegaphone_BodyGraphic{float:right;margin-top:-30px;padding-right:20px;width:210px}
.PrivacyTransitionMegaphone_BodyGraphic img{border:1px solid #666}
.PrivacyTransitionMegaphone_BodyGraphicCaption{font-size:11px;color:#8d8d8d;padding:7px 0 10px}

#bootloader_css_a3eabhql2ds8gcgc_pkg_css { height: 42px; }
/*
     FILE ARCHIVED ON 00:57:11 Feb 12, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:07:08 Jul 26, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/