/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  December 22nd 2009 1:27:14 AM PST                            */
/*      Machine:  10.16.139.109                                                */
/*       Source:  Backing Store                                                */
/*     Location:  css/4kd2ki4ug5k4w0s8.pkg.css h:62pccmyc                      */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/4kd2ki4ug5k4w0s8.pkg.css                                 */

#confirm_body{padding:5px}
#confirm_body #confirm_progress{text-align:center}
#confirm_body #confirm_status{margin:5px 0 10px}
#confirm_body #confirm_error{margin:0 0 10px}
#confirm_body #error,
#confirm_body #status{margin:10px 0}
#confirm_body .editor{margin:10px auto}
#confirm_body .instructions{padding-bottom:5px}
#confirm_body .instruction_details{padding-top:5px}
#confirm_body #confirm_intro{padding-bottom:10px}
#confirm_body #code,
#confirm_body #email{width:175px;margin:2px 0}
#confirm_body #confirm{margin-top:3px}
#confirm_body #confirm_form{margin:5px auto 10px;width:250px}
#confirm_body .help_links{margin-top:10px;font-size:9px}
#confirm_email_banner{background:#FFF9D7 none repeat scroll 0 0;border-bottom:1px solid #e2c822;padding:7px;text-align:center}
#confirm_email_banner .confirm_banner_text{background:transparent url(/web/20100212005537im_/http://static.ak.fbcdn.net/rsrc.php/z9YLH/hash/7kh1isz6.gif) no-repeat scroll left center;font-weight:bold;padding-left:20px;display:inline-block}
#confirm_email_banner .confirm_banner_options{font-weight:bold}
.survey_profile{margin:auto;width:740px;padding-right:180px;overflown:hidden}
.survey_message{background:#F1F1F7 none repeat scroll 0 0;border:1px solid #bbbbe9;padding:3px 4px 8px 4px;margin-bottom:13px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif}
.survey_message .title{font-weight:bold;font-size:13px;border-bottom:1px solid #bbbbe9;padding:4px}
.survey_message .text{float:left;font-size:11px;padding:4px}
.survey_message .answer_button{text-align:right;font-size:11px;padding:4px}
.survey_dialog .question_title{font-size:14px;padding:5px 3px 5px 3px;font-weight:bold}
.survey_dialog .question_instruction{font-size:12px;padding:6px 3px 3px 3px}
.survey_dialog .question_checkbox_div{font-size:12px;font-weight:normal;padding:3px 0 3px 0}
.survey_dialog .question_checkbox_div label{font-weight:normal}
.survey_dialog .other_instructions{font-size:12px;font-weight:lighter;margin:13px 3px 3px 3px}
.UIRoundedTransparentBox{padding:0;margin:0}
.UIRoundedTransparentBox_Inner{padding:0;margin:0;position:relative}
.UIRoundedTransparentBox_Border{border:1px solid #cfcfcf;padding:0;margin:0;background:transparent}
.UIRoundedTransparentBox_Corner{background:transparent url(/web/20100212005537im_/http://static.ak.fbcdn.net/rsrc.php/z28CO/hash/6jwhsirz.gif) left top no-repeat;width:8px;height:8px;padding:0;margin:0;overflow:hidden;position:absolute}
.UIRoundedTransparentBox_TL{left:0;top:0;background-position:0 0}
.UIRoundedTransparentBox_TR{right:0;top:0;background-position:-8px 0}
.UIRoundedTransparentBox_BL{left:0;bottom:0;background-position:0 -8px}
.UIRoundedTransparentBox_BR{right:0;bottom:0;background-position:-8px -8px}
.UIInterstitialBox_Container{padding:25px 30px}
.UIRoundedTransparentBox_Striped .UIInterstitialBox_Container{padding:40px 30px 25px}
.UIStripe_Image{margin:0;position:absolute;z-index:1}
.UIInterstitialBox_Container ul{margin:0 0 0 13px;padding:0;list-style-type:square}
.UIInterstitialBox_Container ul li{color:#3b5998}
.UISimpleMessage_Container{padding:0;margin:0}
.UISimpleMessage_Title{padding:0 0 10px 0;margin:0;border-bottom:1px solid #ccc}
.UISimpleMessage_Title h1{padding:0;font-size:22px}
.UISimpleMessage_Title h2{padding:0;font-size:14px}
.UISimpleMessage_Content{margin:0;padding:0}
.UISimpleMessage_HasIcon .UISimpleMessage_Title h1{padding-left:30px;background-position:left top;background-repeat:no-repeat}
.UISimpleMessage_HasIcon .UISimpleMessage_Title h2{padding-left:25px;background-position:left top;background-repeat:no-repeat}
.UISimpleMessage_HasIcon .UISimpleMessage_Content{padding-left:0}

#bootloader_css_4kd2ki4ug5k4w0s8_pkg_css { height: 42px; }
/*
     FILE ARCHIVED ON 00:55:37 Feb 12, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:07:18 Jul 26, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/