/*    HTTP Host:  b.static.ak.fbcdn.net                                        */
/*    Generated:  December 22nd 2009 9:58:37 AM PST                            */
/*      Machine:  10.16.139.102                                                */
/*       Source:  Backing Store                                                */
/*     Location:  css/4pujbi22bi0wwo4k.pkg.css h:91m7qez4                      */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/4pujbi22bi0wwo4k.pkg.css                                 */

#dialog{margin:0 auto}
#dialog td.dialog{padding-top:10px;background:#fff}
#dialog td{color:#555}
#dialog td .formtable{margin:5px 10px 0}
#dialog p{margin:10px;text-align:left}
#dialog h3{border-bottom:solid 1px #d8dfea;margin:5px 10px 5px;padding:0 0 4px}
#dialog .autosubmit{padding-bottom:5px}
.help_page #dialog .buttons{padding:10px 0;text-align:left}
.help_page #dialog .buttons input{margin:0 10px 0 0}
#dialog .buttons{padding:10px;text-align:right}
#dialog .buttons input{margin-left:10px}
#dialog small{font-weight:normal;color:#808080}
.dialog_padding #content{padding:20px 0}
.editevent .title_header{padding:0 0 17px 0}
.editevent .editor_panel{border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7;border-left:1px solid #d7d7d7}
.editevent .invite_panel{border:1px solid #d7d7d7;background:#f7f7f7}
.invite_panel .emails_error{border:solid 1px #dd3c10;background:#ffebe8;margin:10px 20px 5px 20px;padding:5px;width:auto}
.invite_panel .emails_success{border:solid 1px #ffe222;background:#fffbe2;margin:10px 20px 5px 20px;padding:5px;width:auto}
.tab_bar{padding-top:0}
.calicon{margin-bottom:-4px}
.days .grey{display:none}
.days .off{border:none}
.days td a{font-weight:normal}
.days .today{background:#d8dfea;border-right:1px solid #fff;border-bottom:1px solid #fff}
.days .today a{color:#3b5998;font-weight:bold}
.editevent .editor .label{text-align:right;padding-right:15px}
#two_level_category{width:132px}
#two_level_subcategory{width:172px}
#two_level_country{width:172px}
#two_level_region{width:132px}
#host_with_groups{width:141px}
#host_id{width:141px}
.status h2{font-size:11px;margin:0;padding:0}
#network{width:308px}
#event_customize{width:386px;margin:0 auto}
.invite_dialog #email_frame_container{background-color:#f7f7f7;padding:15px}
.invite_dialog #frame_header{background-color:#3b5998;color:#fff;font-size:22px;font-weight:bold;padding:5px 5px 5px 18px}
.invite_dialog #frame_body{background-color:#fff;border-right:1px solid #ccc;border-bottom:1px solid #3b5998;border-left:1px solid #ccc;padding:18px}
.invite_dialog #frame_body h2{margin-bottom:15px}
.invite_dialog #message{margin-bottom:15px}
.invite_dialog #reg_link{background-color:#fff8cc;border:1px solid #ffe222;margin-top:15px;padding:10px}
.albums #content{padding:0}
.albums .summary_bar{padding-left:10px;padding-right:10px}
.albums .summary a{font-weight:normal}
.albums .panel{background:#f7f7f7;border-bottom:1px solid #d7d7d7;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7}
.albums #results{padding:10px 10px 5px}
.albums #results .album{background:white;border:solid 1px #ccc;margin:0 0 5px;padding:9px}
.albums #results .image{width:180px;float:left;padding-right:10px}
.albums #results .info{float:left;width:380px;padding-right:20px}
.albums #results .count{font-weight:normal;color:#808080}
.albums #results h2{margin:5px 0 2px;font-size:12px}
.albums #results .info h2 img{float:left;margin:1px 3px 0 0}
.albums #results p{margin:5px 0 5px}
.albums #results .date{color:#808080}
.albums #updated{float:left;padding:3px 0}
.albums .empty_albums{background:#fff;border:1px solid #c0c0c0;font-size:13px;color:#555;margin:10px;text-align:center;padding:90px 0 85px 0}
.editalbum .sortable_photo{float:left;width:150px;height:150px;padding:0;overflow:hidden;text-align:center;line-height:150px}
.editalbum .sortable_photo img{cursor:move}

#bootloader_css_4pujbi22bi0wwo4k_pkg_css { height: 42px; }
/*
     FILE ARCHIVED ON 01:22:29 Feb 12, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:07:18 Jul 26, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/