/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  January 25th 2010 3:38:36 PM PST                             */
/*      Machine:  10.16.139.102                                                */
/*       Source:  Backing Store                                                */
/*     Location:  css/cffd1a3wcdckokk4.pkg.css h:9qj24kzm                      */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/cffd1a3wcdckokk4.pkg.css                                 */

.ads_feedback_new .next_ad{background:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/z14M5/hash/a657viny.png) no-repeat -484px -232px;display:inline-block;height:14px;margin-left:8px;margin-right:-10px;vertical-align:middle;width:14px}
.ads_feedback_new .next_ad:hover{background-position:-484px -215px;text-decoration:none}
.ads_feedback_new .hide{background:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/z8WRC/hash/2rqaa2im.gif) left top no-repeat;display:inline-block;height:12px;line-height:12px;margin-left:8px;margin-top:1px;text-decoration:none;vertical-align:top;width:11px}
.ads_feedback_new .hide:hover{background-position:left -12px;text-decoration:none}
.ads_feedback_new{float:right;padding-top:1px}
.ff2 .ads_feedback_new .hide,
.ff2 .ads_feedback_new .next_ad{display:-moz-inline-box}
.fan_action_frame{padding-top:4px}
.fan_action_frame .fan_action{margin:5px 0 1px 0}
.added_fan_text .UIImageBlock_Content{padding-top:1px}
.fan_action_frame .async_saving .UIButton_Text{visibility:hidden}
.fan_action_frame .async_saving{background:transparent url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat left center;border:none;-moz-box-shadow:0 0 0 rgb(255,255,255)}
.poll_action_frame{margin:5px 0 0}
.poll_action_frame .poll_choices{margin-left:1px;padding:5px 0 0 0;position:relative}
.poll_action_frame .submit_progress{position:absolute}
.poll_action_frame .poll_result .friend_vote_pics{overflow:hidden;width:210px}
.fbx .poll_action_frame .poll_result .friend_vote_pics{width:200px}
.poll_action_frame .poll_result .friend_vote_pics .friend_pic{display:block;float:left;height:35px}
.poll_action_frame .poll_result .friend_vote_pics .friend_pic img{height:35px;width:35px}
.poll_radios_as_copy{margin-top:0}
.poll_radios_as_copy .answer_form{padding-left:2px}
.poll_radios_as_copy .answer_form .answer{padding-left:0}
.research_poll_action_frame .poll_results{padding:5px 0}
div.research_poll_action_frame{margin-top:0}
.research_poll_description{font-size:11px;color:#999}
.research_poll_explanation{padding-left:4px}
.research_poll_action_frame .question_shielding_text{padding:5px 0 0 1px}
.research_poll_action_frame .poll_title{color:#333;font-weight:bold}
.research_poll_action_frame .poll_question{padding:2px 0 0 1px}
.social_poll_action_frame{padding-top:4px}
.social_poll_action_frame .poll_results{padding:5px 0 2px 0}
.poll_action_frame .friend_vote_pics{display:none}
.emu_poll_show_friends .poll_action_frame .friend_vote_pics{display:inline}
.sms_link_action_frame .sms_link_title{font-weight:bold}
.sms_link_action_frame .sms_link_form{margin:10px 0 0 0}
.sms_link_action_frame .phone_number_input{margin-right:0;width:95%}
.sms_link_action_frame .sms_link_submit{margin-top:6px}
.sms_link_action_frame .sms_link_success,
.sms_link_action_frame .sms_link_failure{margin:5px 0 5px 0}
.emu_video_frame a.ad_image{display:block;float:left}
.emu_action_frame_video_icon{margin-right:7px;margin-top:-1px}
.emu_video_frame .emu_video_holder{background-color:#000}
.emu_video_frame .ad_text{float:left;width:131px}
.fbx .emu_video_frame .ad_text{width:116px}
.emu_video_frame .video_thumb span.thumb{background-image:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/zCK6C/hash/ar2u0whl.png)}
.ie6 .emu_video_frame .video_thumb span.thumb{background-image:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/z991A/hash/6hm34swz.png)}
.emu_video_frame .video_thumb span.play{background-image:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/zCK6C/hash/ar2u0whl.png)}
.ie6 .emu_video_frame .video_thumb span.play{background-image:url(/web/20100212005711im_/http://static.ak.fbcdn.net/rsrc.php/z991A/hash/6hm34swz.png)}

#bootloader_css_cffd1a3wcdckokk4_pkg_css { height: 42px; }
/*
     FILE ARCHIVED ON 00:57:11 Feb 12, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:07:09 Jul 26, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/